fastapi
uvicorn
huggingface_hub<0.24.0
gradio==4.44.0
spaces
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
aiofiles
numpy
Pillow
motor
pymongo
dnspython
SimpleITK
nibabel
reportlab
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
email-validator
bcrypt
